package foo;

import org.junit.*;
import static org.junit.Assert.*;

public class Test${padded} {
	@Test
	public void doTest${padded}() throws Exception {
		Thread.sleep((long) (Math.random() * 1000));
		int result = Util${padded}.doStuff();
		assertEquals(${i}, result);
	}
}